{% extends "base.html" %}

{% block insert_into_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block channel %}
<div style='margin-top: 30px;' class='player-title widget region'>YouTube Channnels</div>
<div class="channel widget region">

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUCCPCZNChQdGa9EkATeye4g" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUQfwfsi5VrQ8yKZ-UWmAEFg" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UULA_DiR1FfKNvjuUpBHmylQ" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUpcTrCXblq78GZrTUTLWeBw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUh2rDh7vXGeoh1LlzL3QEwg" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  
</div>
{% endblock %}

{% block main %}
<div class='main region'>

  {% include 'partials/mplayer.html' %}

</div>
{% endblock %}

