
{% extends "base.html" %}

{% block insert_into_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block channel %}
<div class="channel widget region">
  
  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUm-Y70KQzuZz6kd0isAqPkw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UU7cyr5kbcN7jvG7No6lZ-wQ" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UU6PiNaCY4oUJAsMs2-rq2Hw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUIy-LFo9My8iixH3pPc6cTg" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUpqXJOEqGS-TCnazcHCo0rA" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUHwYHdX37UUt6d9e1wAp9Bw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUC3kuksIZZQO6kVQlApEW1w" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUd3Jmi0SGGG-NvcEOge6bxw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUGCeeEq-6y85svJ1atW5Bvw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  
</div>
{% endblock %}