{% extends "base.html" %}

{% block insert_into_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block channel %}
<div class="channel widget region">

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUCCPCZNChQdGa9EkATeye4g" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUQfwfsi5VrQ8yKZ-UWmAEFg" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UU8butISFwT-Wl7EV0hUK0BQ" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUFbNIlppjAuEX4znoulh0Cw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="wrapper">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUWv7vMbMWH4-V0ZXdmDpPBA" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  
</div>
{% endblock %}