
{% load static %}
<link rel="stylesheet" href="{% static 'styles/partials/menu.css' %}">
<script src='{% static "scripts/partials/menu.js" %}'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class='top-menu'>
  <div class='menu-wrpper region'>
    <div class='logo'>KhmerwebTV</div>
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class='login'><a href='admin/'>Login</a> | Register</div>
  </div>
</section>